.buttonContainer{
    width: 100%;
    height: max-content;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    border: 1px solid black;
  
  }